@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: clamp(16px, 1rem, 24px); /* Min: 16px, Preferred: 2vw, Max: 24px */
}

body {
  background-color: #161616;
  color: #fff;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.home {
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.showAnimation {
  animation: show linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.headerAnimation {
  animation-name: slide;
  animation-duration: 0.5s;
}
